[flake8]
# Exclude certain directories and files from linting
exclude = 
    .venv,
    __pycache__,
    .pytest_cache,
    .git,
    build,
    dist,
    **/__init__.py

# Maximum line length for the code
max-line-length = 88

# List of error or warning codes to ignore
extend-ignore = 
    E203,
    E501,
    F401
