[flake8]
# Exclude certain directories and files from linting
exclude = 
    .venv,
    __pycache__,
    .pytest_cache,
    .git,
    build,
    dist,
    **/__init__.py

# Maximum line length for the code
max-line-length = 88

# Enable specific errors or warnings to check
extend-ignore = 
    E203,  # Whitespace before ':'
    E501,  # Line too long
    F401   # Imported but unused
